<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Github Repository Issues</title>
</head>

<body>
  <div class="fullpage justify-content-center">
    <div *ngIf="isLoading">
      <mat-progress-bar mode="determinate" value="{{progressValue}}"></mat-progress-bar>
    </div>
    <mat-card>
      <mat-card-title>
        <div class="row">
          <img class="col-sm-1 logo" src="../assets/images/softwareag LOGO.png" alt="Softwareag Logo" />
          <div class="col-sm-2 title justify-content-start">
            <div class="justify-content-start titleHeading">
              Repository Issues
            </div>
          </div>
          <div class="col-sm-1 toggles justify-content-start">
            <div class="d-flex justify-content-start">
              <div class="btn-group" role="group" aria-label="Toggles">
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Search by Repo names"
                  (click)="onToggleChange('Repo')" [class.mat-elevation-z2]="toggleVal=='Repo'">
                  Repos
                </button>
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Search by Topic name"
                  (click)="onToggleChange('Topic')" [class.mat-elevation-z2]="toggleVal=='Topic'">
                  Topic
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-3 form-container d-flex justify-content-center" *ngIf="toggleVal == 'Repo'">
            <form (submit)="getRepos(repos.value)" style="width: 75%">
              <div class="input-group mb-3" style="
                    width: 100%;
                    border-radius: 25px;
                    border: 1px solid black;
                    height: 40px;
                  ">
                <input type="text" #repos required class="form-control" placeholder="repo1,repo2,..." aria-label="repos"
                  aria-describedby="basic-addon2" style="
                      border-top-left-radius: 25px;
                      border-bottom-left-radius: 25px;
                      height: 100%;
                      border-right: none;
                    " />
                <div class="input-group-append" style="height: 100%">
                  <button class="btn" type="submit" style="height: 100%">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-3 form-container d-flex justify-content-center" *ngIf="toggleVal == 'Topic'">
            <form (submit)="getTopicIssues(Topic.value)" style="width: 75%">
              <div class="input-group mb-3" style="
                    width: 100%;
                    border-radius: 25px;
                    border: 1px solid black;
                    height: 40px;
                  ">
                <input type="text" #Topic required class="form-control" placeholder="topic-name" aria-label="topic"
                  aria-describedby="basic-addon2" style="
                      border-top-left-radius: 25px;
                      border-bottom-left-radius: 25px;
                      height: 100%;
                      border-right: none;
                    " />
                <div class="input-group-append" style="height: 100%">
                  <button class="btn" type="submit" style="height: 100%">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-2 form-container d-flex justify-content-center" *ngIf="submitClicked">
            <div class="input-group mb-3" style="
                  width: 75%;
                  border-radius: 25px;
                  border: 1px solid black;
                  height: 40px;
                ">
              <input type="text" class="form-control" placeholder="filter" aria-label="filter"
                aria-describedby="basic-addon2" style="
                    border-top-left-radius: 25px;
                    border-bottom-left-radius: 25px;
                    height: 100%;
                    border-right: none;
                  " (keyup)="applyFilter($event)" />
              <div class="input-group-append" style="height: 100%">
                <button class="btn" type="submit" style="height: 100%" disabled>
                  <mat-icon>filter_list</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-1 d-flex justify-content-start" *ngIf="submitClicked">
            <label class="switch col-sm-1  toggleSwitch">
              <input type="checkbox" value="pullRequests" (change)="changedRequest()">
              <span class="slider round"></span>
            </label>
            <div class="col-sm-10 toggleSwitchText">
              <p *ngIf="pullCheck" style="font-size: small;">Show Issues</p>
              <p *ngIf="!pullCheck" style="font-size: small;">Pull Requests</p>
            </div>
          </div>
          <div class="col-sm-2 d-flex justify-content-end" *ngIf="submitClicked">
            <mat-form-field appearance="outline" 
              style="margin-bottom: -1.25em;max-height: 10px !important; margin-top: 15px;">
              <mat-label>Configure Columns</mat-label>
              <mat-select [formControl]="columns" multiple [(ngModel)]="selected" multiple>
                <mat-option *ngFor="let col of allCols" [value]="col.value" (click)="selectedColumns(selected)">{{col.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-title>
    </mat-card>
    <br />
    <div class="d-flex justify-content-center" *ngIf="!submitClicked" style="width: 60%; margin-left: 20%">
      <mat-card>
        <mat-card-title class="d-flex justify-content-center">
          <h1>HOW TO USE</h1>
        </mat-card-title>
        <mat-card-content class="d-flex justify-content-center">
          <div>
            <p>
              This application is designed to provide you Open Issues for Software AG
              repositories.
            </p>
            <p>
              You can start searching with a topic name or repository name(s)
            </p>
            <h2>Steps:</h2>
            <ol>
              <li>Select how you want to search (Repository/Topic name)</li>
              <li>Type the search field as shown in the search bar and click 'search icon' or press ENTER</li>
              <li>Please wait patiently</li>
              <li>Once the data is loaded, you can filter data by:</li>
              <ul>
                <li>Repository name</li>
                <li>Issue Number</li>
                <li>Title</li>
                <li>Body</li>
                <li>Created/Updated Date Time</li>
              </ul>
              <li>Click on switch to get Pull Requests OR Issues</li>
              <li>Hide columns you don't wish to see:</li>
              <ul>
                <li>click on 'Hide Columns' dropdown</li>
                <li>select/deselect fields</li>
              </ul>
              <li>You can SORT the data with respect to Repository name:</li>
              <ol>
                <li>Hover over Repository header</li>
                <li>Click on the Arrow button</li>
              </ol>
            </ol>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="table" id="table" *ngIf="submitClicked && !dataNotFound && !isLoading">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let element">{{ element.SNo }}</td>
        </ng-container>

        <ng-container matColumnDef="repository">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            REPOSITORY
          </th>
          <td mat-cell *matCellDef="let element">{{ element.repository }}</td>
        </ng-container>

        <ng-container matColumnDef="issue_number">
          <th mat-header-cell *matHeaderCellDef>ISSUE NUM</th>
          <td mat-cell *matCellDef="let element">
            <a href="{{ element.issue_url }}" target="_blank" data-toggle="tooltip" title="Visit Issue">{{
              element.number }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="title" class="col-sm-2">
          <th mat-header-cell *matHeaderCellDef>TITLE</th>
          <td mat-cell (click)="titleDialog(element.title)" *matCellDef="let element">
            <div class="ellipsed">{{ element.title }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="body">
          <th mat-header-cell *matHeaderCellDef>BODY</th>
          <td mat-cell (click)="bodyDialog(element.body)" *matCellDef="let element">
            <div class="ellipsed">{{ element.body }}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="user_name">
          <th mat-header-cell *matHeaderCellDef>USER NAME</th>
          <td mat-cell *matCellDef="let element">{{ element.user.login }}</td>
        </ng-container>

        <ng-container matColumnDef="lable_name">
          <th mat-header-cell *matHeaderCellDef>LABLE NAME</th>
          <td mat-cell *matCellDef="let element">
            <span *ngFor="let lable of element.lables">{{ lable.name }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th mat-header-cell *matHeaderCellDef>CREATED AT</th>
          <td mat-cell *matCellDef="let element">{{ element.created_at }}</td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
          <th mat-header-cell *matHeaderCellDef>UPDATED AT</th>
          <td mat-cell *matCellDef="let element">{{ element.updated_at }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="this.displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns:this.displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons aria-label="Select page of Issues">
      </mat-paginator>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <h3>Loading... {{progressValue}}%</h3>
    </div>
    <div *ngIf="dataNotFound" class=" d-flex justify-content-center">
      <div>
        <h1 class="text-danger">NO DATA FOUND!</h1>
      </div>
    </div>
  </div>
</body>
</html>